body {
    background-image: url('C:/Users/POORANI/Desktop/porfolio/images/bg1.jpg'); /* Update this with your background image path */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    scroll-behavior: smooth;
    font-weight: 300;
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
}

.font-bold {
    font-weight: 300;
}

.bg-home, .bg-about, .bg-resume, .bg-projects, .bg-portfolio {
    background-size: cover;
    background-repeat: no-repeat;
}
.bg-home {
    background-image: url('C:/Users/POORANI/Desktop/porfolio/images/bg1.jpg');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.bg-about {
    background-image: url('C:/Users/POORANI/Desktop/porfolio/images/bg1.jpg');
}

.bg-resume {
    background-image: url('C:/Users/POORANI/Desktop/porfolio/images/bg1.jpg');
}

.bg-projects {
    background-image: url('C:/Users/POORANI/Desktop/porfolio/images/bg1.jpg');
}

.bg-portfolio {
    background-image: url('C:/Users/POORANI/Desktop/porfolio/images/bg1.jpg');
}

.nav-link {
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: #fbbf24;
}

.animate__animated {
    visibility: hidden;
}

section.active .animate__animated {
    visibility: visible;
    animation: fadeIn 1s ease-in;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
