body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    body {
        background-image: url('C:/Users/POORANI/Pictures/bg2.jpg');
        background-size: cover; /* Adjusts the background image to cover the whole page */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-position: center; /* Centers the background image */
    }
    
}

header {
    background: #007bff;
    color: white;
    padding-top: 100px;
    padding-bottom: 100px;
}

section {
    padding: 60px 0;
}

footer {
    background: #343a40;
    color: white;
    padding: 20px 0;
}

.navbar-brand {
    font-weight: bold;
}

.nav-link {
    margin-right: 15px;
}

.nav-link:hover {
    color: #007bff !important;
}

h2 {
    margin-bottom: 30px;
}
